header{
    background: rgb(8, 206, 163);
    padding: 20px 0;  
}

.caixa-nav{
    position: relative;
    width: 940px;
    margin: 0 auto; 
}

#logo {
    width: 250px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(137, 35, 177);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.produtos {
    width: 1058px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
}

.item {
    width: 350px;
    height: 260px;
}