header{
    background: rgb(8, 206, 163);
}

#logo {
    width: 250px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-transform: uppercase;
    color: rgb(137, 35, 177);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}